# Ignore everything
*

# Allow android, lib, pubspec.yaml
!/android/
!/lib/
!/pubspec.yaml

# Allow assets directory and all its files
!/assets/
!/assets/**

# Inside android and lib, ignore everything except their contents
android/*
lib/*
assets/*

# Re-allow all files inside android, lib, and assets
!android/**/*
!lib/**/*
!assets/**/*
